* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: lightblue;
}

.container {
    background-color: white;
    width: 90%;
    max-width: 31.25em;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5em 3em;
    border-radius: 0.5em;
}

.container h3 {
    font-size: 1.2em;
    color: #333;
    text-align: center;
    font-weight: 500;
    line-height: 1.8em;
}

.container #submit-btn {
    font-size: 1.2em;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    background-color: yellow;
    border-radius: 0.3em;
    border: none;
    outline: none;
    cursor: pointer;
    color: #333;
    padding: 0.6em 2em;
}

.container #question {
    font-size: 2em;
    color: #333;
    text-align: center;
    background-color: aliceblue;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.4em 0 1em 0;
    padding: 1em 0;
}

.container input {
    width: 2.35em;
    padding: 0 0.2em;
    font-size: 1em;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin: 0 0.25em;
    border: none;
    background-color: transparent;
    border-bottom: 0.12em solid #333;
}

.container input:focus {
    border-color: yellow;
    outline: none;
}

.container input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#error-msg {
    color: red;
    font-size: 1.2em;
    text-align: center;
    margin-top: 1em;
    background-color: bisque;
    padding: 0.2em 0;
}

.hide {
    display: none;
}
